<h2>Edit your profile</h2>
<form action="/users" enctype="multipart/form-data" method="POST">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" id="name" value="{{ name }}">
  </div>
  <div class="form-group">
    <label for="name">Role: (e.g. Coach, Scout, League Administrator):</label>
    <input type="text" class="form-control" name="role" id="role" value="{{ role }}">
  </div>
  <div class="form-group">
    <label for="name">Sport(s):</label>
    <input type="text" class="form-control" name="sport" id="sport" value="{{ sport }}">
  </div>
  <div class="form-group">
    <label for="name">Biography:</label>
    <input type="text" class="form-control" name="biography" id="biography" value="{{ biography }}">
  </div>
    <div class="form-group">
    <label for="name">Profile Picture:</label>
    <input type="file" class="form-control" name="profilepicture" id="profilepicture" value="{{ profilepicture }}">
  </div>
    </div>
    <div class="form-group">
    <label for="name">Avatar:</label>
    <input type="file" class="form-control" name="avatar" id="avatar" value="{{ avatar }}">
  </div>
    <div class="form-group">
    <label for="name">Resume:</label>
    <input type="file" class="form-control" name="resume" id="resume" value="{{ resume }}">
  </div>
    </div>
    <div class="form-group">
    <label for="name">Email:</label>
    <input type="text" class="form-control" name="email" id="email" value="{{ email }}">
  </div>
    </div>
    <div class="form-group">
    <label for="name">Phone:</label>
    <input type="text" class="form-control" name="phone" id="phone" value="{{ phone }}">
  </div>
  <button class="btn btn-primary">Update</button>
</form>

<script>
  document.getElementById('browse').addEventListener('click', function () {
    var uppy = window.Robodog.pick({
      providers: [ 'instagram', 'url', 'webcam', 'dropbox', 'google-drive', 'facebook', 'onedrive' ],
      waitForEncoding: true,
      params: {
        // To avoid tampering, use Signature Authentication
        auth: { key: '066f3515ddc04adf80d17e5ce1c680f7' },
        template_id: '1cad1a9111ec48d99e662419a54ec9cf'
      }
    }).then(function (bundle) {
      // Due to `waitForEncoding: true` this is fired after encoding is done.
      // Alternatively, set `waitForEncoding` to `false` and provide a `notify_url`
      // for Async Mode where your back-end receives the encoding results
      // so that your user can be on their way as soon as the upload completes.
      console.log(bundle.transloadit) // Array of Assembly Statuses
      console.log(bundle.results)     // Array of all encoding results
    }).catch(console.error)
  })
</script>

<p><a href="/users/{{username}}" target="_blank">View your profile</a></p>
<p><a href="/" target="_blank">User Index</a></p>