
 {{!-- {{> navbar}} --}}
{{> messages }}
{{#if username}}
<h2>{{ username }}'s profile</h2>
<table class="table">
  <tr>
    <td>Name:</td>
    <td>{{ name }}</td>
  </tr>
  <tr>
    <td>Role: (e.g. Coach, Scout, League Administrator)</td>
    <td>{{ role }}</td>
  </tr>
  <tr>
    <td>Sport(s):</td>
    <td>{{ sport }}</td>
  </tr>
  <tr>
    <td>Biography:</td>
    <td>{{ biography }}</td>
  </tr>
  <tr>
    <td>Profile Picture:</td>
    <td>{{ profilepicture }}</td>
  </tr>
  <tr>
    <td>Avatar:</td>
    <td>{{ avatar }}</td>
  </tr>
  <tr>
    <td>Resume:</td>
    <td>{{ resume }}</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>{{ email }}</td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>{{ phone }}</td>
  </tr>
</table>
{{#loggedIn}}
<p><a href="/users" target="_blank">Edit your profile</a></p>
{{/loggedIn}}
<p><a href="/" target="_blank">User Index</a></p>
{{/if}}